openapi: 3.1.0
info:
  version: 1.0.0
  title: Water consumption app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of water consumption app
tags:
  - name: Water
    description: Operations about water consumption.
  - name: Auth
    description: Auth operations.
servers:
  - url: https://innov8ors-backend.onrender.com
paths:
  /auth/register:
    post:
      $ref: '../swagger/paths/auth/register.yaml'
  /auth/login:
    post:
      $ref: '../swagger/paths/auth/login.yaml'
  /auth/refresh:
    post:
      $ref: '../swagger/paths/auth/refresh.yaml'
  /auth/logout:
    post:
      $ref: '../swagger/paths/auth/logout.yaml'
  /user/userInfo:
    get:
      $ref: '../swagger/paths/user/userInfo/get.yaml'
    patch:
      $ref: '../swagger/paths/user/userInfo/patch.yaml'
  /user/userInfo/avatar:
    patch:
      $ref: '../swagger/paths/user/userInfo/patch-avatar.yaml'
  /user/userInfo/change-password:
    patch:
      $ref: '../swagger/paths/user/userInfo/change-password.yaml'
  /water/water-rate:
    put:
      $ref: '../swagger/paths/water/water-rate/put.yaml'
  /water:
    post:
      $ref: '../swagger/paths/water/post.yaml'
  /water/{id}:
    patch:
      $ref: '../swagger/paths/water/{id}/patch.yaml'
    delete:
      $ref: '../swagger/paths/water/{id}/delete.yaml'
  /water/today:
    get:
      $ref: '../swagger/paths/water/today/get.yaml'
  /water/{year}/{month}:
    get:
      $ref: '../swagger/paths/water/{year}/{month}/get.yaml'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
