openapi: 3.1.0
info:
  version: 1.0.0
  title: Water consumption app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of water consumption app
tags:
  - name: Water
    description: Operations about water consumption.
  - name: Auth
    description: Auth operations.
servers:
  - url: http://localhost:3000
  - url: http://localhost:3000
paths:
  /water/water-rate:
    put:
      $ref: ../swagger/paths/water/water-rate/put.yaml
  /water:
    post:
      $ref: ../swagger/paths/water/post.yaml
  /water/{id}:
    patch:
      $ref: ../swagger/paths/water/{id}/patch.yaml
    delete:
      $ref: ../swagger/paths/water/{id}/delete.yaml
  /water/today:
    get:
      $ref: ../swagger/paths/water/today/get.yaml
  /water/{year}/{month}:
    get:
      $ref: ../swagger/paths/water/{year}/{month}/get.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
